body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray-500);
  background-color: var(--color-yellow);
}

h1 {
  font-weight: 800;
  font-size: 24px;
  color: var(--color-gray-950);
}

a {
  text-decoration: none;
  color: currentColor;
  transition-duration: var(--transition-duration);
}

a:hover {
  color: var(--color-yellow);
}
